@media screen and (max-width: 576px) {
    .hero-section{
        flex-direction: column;
    }
    ul li{
        display: none;
    }
    .hamburger-menu-btn{
        display: block;
        /* margin-right: 2px; */
    }
    .navber{
        margin: 57px 20px;
    }

    .hero-section{
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-content-title{
        font-size: 36px;
        font-weight: 900;
        max-width: 75%;
    }
    .hero-content {

    }
    

    .hero-content-description{
        max-width: 70%;
    }
    .responsive-hero-des{
        width: 274px;
        height: 96px;  
        margin-bottom: 30px;    
    }

    .hero-btn-1, .hero-btn-2{
        font-size: 15px;
        padding: 16px 40px 16px 40px;
        gap: 20px;
    }
    .hero-section{
        gap: 48px;
    }
    
    

}